.DS_Store

.vscode
/*.exe
/utils/crossfilter/*.exe
/modules/distance/examples/*.exe
/modules/distance/examples/build
/modules/mapping/examples/build
/modules/mapping/*.exe
/modules/mapping/examples/*.exe
/modules/correlation/examples/build
/examples/build
/modules/crossfilter/examples/build
/mkl
/examples/db_creditinals.csv
mkl
build
